*{
  margin: 0;
  padding: 0;
}

body{
  background: rgb(243, 241, 239);
  font-family: 'Baloo 2', cursive;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.hide{
  display: none;
}

.myApp{
  display: flex;
  flex-direction: column;
}